body {
  background-color: #bdd6d3;
}

.head {
  position: relative;
}

.paved {
  text-align: center;
  letter-spacing: 5px;
  color: #1a8cff;
  font-family: "Libre Baskerville", serif;
  border-bottom: 2px solid hotpink;
}

.norm {
  color: #f2f2f2;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 9px;
}

.walk {
  font-family: "IM Fell English", serif;
}

.flowers {
  font-family: "IM Fell English", serif;
}

em {
  color: #ff0;
  font-family: "Libre Baskerville", serif;
}

em:hover {
  color: #bdd6d3;
  transition: all .4s linear;
}

.author {
  font-family: "Josefin Sans", sans-serif;
}
