body {
  background-color: #bdd6d3;
}

.head {
  position: relative;
}

.paved {
  text-align: center;
  letter-spacing: 4px;
  color: #1a8cff;
  font-family: "Libre Baskerville", serif;
}

.line {
  border-left: 10px dashed #f2f2f2;
  height: 300px;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  top: 85px;
  left: 84%;
}

.moreline {
  border-right: 10px dashed #f2f2f2;
  height: 300px;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  top: 89px;
  right: 84%;
}

.norm {
  color: #f2f2f2;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 16px;
}

.walk {
  font-family: "IM Fell English", serif;
}

.flowers {
  font-family: "IM Fell English", serif;
}

em {
  color: #ff0;
  font-family: "Libre Baskerville", serif;
}

em:hover {
  color: #bdd6d3;
  transition: all .4s linear;
}

.author {
  font-family: "Josefin Sans", sans-serif;
}
